<br>
<br>
<div class="container marketing">
    <h2 class="text-center">
        Selecciona tu caso
    </h2>
    <div class="lead-14  pi-text-center"><strong>Paso 1:</strong> Selecciona tu tipo de caso y contesta las preguntas que apareceran a continuación.</div>
    <br>
    <!-- Openings -->
    <ul class="list-group">
        <li class="list-group-item bg-dark mt-1" *ngFor="let caso of casosJuridicos">
            <div class="row no-gutters ">
                <div class="col-auto d-none d-lg-block">
                    <svg class="bd-placeholder-img" width="200" height="100" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail">
            <image attr.xlink:href="../../../../assets/images/{{caso.codigo}}.png" class="align-middle" width="200"
              height="100" />
          </svg>
                </div>
                <div class="col p-4 d-flex flex-column position-static">
                    <!-- <strong class="d-inline-block mb-2 text-primary">World</strong> -->
                    <h3 class="mb-0 text-white">{{caso.titulo}}</h3>
                    <!-- <div class="mb-1 text-muted">Nov 12</div> -->
                    <a [routerLink]="['/caso-juridico/',caso.codigo]" class="stretched-link"></a>
                </div>
                <div class="col-auto d-none d-lg-block">
                    <i class="fa fa-6x fa-arrow-alt-circle-right bg-transparent"></i>
                </div>
            </div>
        </li>
    </ul>
    <!-- End openings -->
</div>