<div class="d-flex flex-column flex-md-row align-items-center fixed-top p-3 px-md-4 bg-white border-bottom shadow-sm">
    <h5 class="my-0 mr-md-auto font-weight-normal">
        <svg class="bd-placeholder-img rounded-circle" width="50" height="50" focusable="false" aria-label="Placeholder: 140x140">
            <image xlink:href="../../../../assets/images/logo.jpg" height="50" width="50"/>     
        </svg> Llanos & Asociados
    </h5>
    <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark" href="#">Inicio</a>
        <a class="p-2 text-dark" href="#">Selecciona tu caso</a>
        <a class="p-2 text-dark" href="#">Como funciona Llanos & asociados</a>
    </nav>
</div>
<div class="m-5"></div>
<br>
<br>