<br>
<div class="container marketing">
    <h2 class="text-center">
        Selecciona tu caso
    </h2>
    <div class="lead-14  pi-text-center"><strong>Paso 1:</strong> Selecciona tu tipo de caso y contesta las preguntas que apareceran a continuación.</div>
    <br>

    <!-- Openings -->
    <ul class="list-group">
        <li class="list-group-item">
            <div class="row no-gutters ">
                <div class="col-auto d-none d-lg-block">
                    <svg class="bd-placeholder-img" width="150" height="150" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail">
                      <image xlink:href="../../../../assets/images/opcion-1.png" class="align-middle" width="150" height="150"/>
                    </svg>
                </div>
                <div class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2 text-primary">World</strong>
                    <h3 class="mb-0">Featured post</h3>
                    <div class="mb-1 text-muted">Nov 12</div>
                    <a href="#" class="stretched-link">Continue reading</a>
                </div>
                <div class="col-auto d-none d-lg-block">
                    <svg class="bd-placeholder-img" width="150" height="150" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail">
                      <image xlink:href="../../../../assets/images/opcion-1.png" class="align-middle" width="150" height="150"/>
                    </svg>
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2 text-primary">World</strong>
                    <h3 class="mb-0">Featured post</h3>
                    <div class="mb-1 text-muted">Nov 12</div>
                    <a href="#" class="stretched-link">Continue reading</a>
                </div>
                <div class="col-auto d-none d-lg-block">
                    <svg class="bd-placeholder-img" width="150" height="150" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail">
                      <image xlink:href="../../../../assets/images/opcion-1.png" class="align-middle" width="150" height="150"/>
                    </svg>
                </div>
            </div>
        </li>
        <li class="">
            <a href="#derecho-laboral"><img src="img/derecho-laboral.png"><span class="lead-16" style="padding-left:20px;">Abogados Derecho Laboral</span></a>
        </li>
        <li class="">
            <a href="#derecho-penal"><img src="img/derecho-penal.png"><span class="lead-16" style="padding-left:20px;">Abogados Derecho Penal</span></a>
        </li>
        <li class="">
            <a href="#derecho-comercial"><img src="img/derecho-comercial.png"><span class="lead-16" style="padding-left:20px;">Abogados Derecho Comercial</span></a>
        </li>
        <li class="">
            <a href="#derecho-tributario"><img src="img/derecho-tributario.png"><span class="lead-16" style="padding-left:20px;">Abogados Derecho Tributario</span></a>
        </li>
        <li class="">
            <a href="#proteccion-consumidor"><img src="img/proteccion-consumidor.png"><span class="lead-16" style="padding-left:20px;">Abogados Protección consumidor</span></a>
        </li>
        <li class="">
            <a href="#otros-casos"><img src="img/otros-casos.png"><span class="lead-16" style="padding-left:20px;">Abogados
          Otros Casos</span></a>
        </li>
    </ul>
    <!-- End openings -->


</div>